@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body,
html,
* {
  font-family: 'Concert One', cursive;
}
/* colors content */
:root {
  --main-color-yellow: #f0aa00;
  --main-color-pink: #ff236c;
  --main-color-blue: #64c8ff;
  --main-color-green: #a5c347;
  --main-color-purple: #6f1ab7;
}

.color-main-yellow {
  color: var(--main-color-yellow) !important;
}
.color-main-pink {
  color: var(--main-color-pink) !important;
}
.color-main-blue {
  color: var(--main-color-blue) !important;
}
.color-main-green {
  color: var(--main-color-green) !important;
}
.color-main-purple {
  color: var(--main-color-purple) !important;
}

.bg-main-yellow {
  background-color: var(--main-color-yellow);
}
.bg-main-pink {
  background-color: var(--main-color-pink);
}
.bg-main-blue {
  background-color: var(--main-color-blue);
}
.bg-main-green {
  background-color: var(--main-color-green);
}
.bg-main-purple {
  background-color: var(--main-color-purple);
}

/* header */

.preview-header {
  background: black;
}

.navbar-brand {
  font-size: 1.3rem;
}
.navbar-nav {
  font-size: 1.09rem;
}
.navbar-nav a {
  margin-inline: 5px;
  position: relative;
  transition: all 2s;
}
.navbar-nav a::after {
  content: '';
  left: 0;
  bottom: 0;
  background-color: var(--main-color-blue);
  position: absolute;
  height: 4px;
  width: 0%;
  border-radius: 5px;
  transition: 0.5s;
}
.navbar-nav a.active::after {
  width: 100%;
  background-color: var(--main-color-blue);
}
.navbar-nav a:hover:after {
  width: 100%;
}

/* section about */
.about-image__cover {
  display: flex;
  width: 100%;
}
.about-image__cover img {
  width: 100%;
  height: 50vh;
  justify-content: center;
}
