@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

body,
html,
* {
  font-family: 'Comic Neue', cursive;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#scroll-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 5rem;
  color: white;
  cursor: pointer;
}
/* colors content */
:root {
  --main-color-yellow: #f0aa00;
  --main-color-pink: #ff236c;
  --main-color-blue: #64c8ff;
  --main-color-green: #a5c347;
  --main-color-purple: #6f1ab7;
  --main-color-purlelight: #5d58ef;
  --main-color-yellow-transparent: #f0a80065;
  --main-color-pink-transparent: #ff236c65;
  --main-color-blue-transparent: #64c9ff65;
  --main-color-green-transparent: #a4c34765;
  --main-color-purple-transparent: #6e1ab765;
  --main-color-purplelight-transparent: #5d58ef65;
  --test-warna: rgb(255, 115, 115);
  --test-warna: rgb(255, 199, 115);
  --test-warna: rgb(190, 255, 115);
  --test-warna: rgb(115, 255, 131);
  --test-warna: rgb(115, 255, 218);
  --test-warna: rgb(115, 171, 255);
  --test-warna: rgb(183, 115, 255);
  --test-warna: rgb(24, 182, 0);
  --test-warna: rgb(115, 255, 141);
  --test-warna: rgb(236, 255, 115);
}

.color-main-yellow {
  color: var(--main-color-yellow) !important;
}
.color-main-pink {
  color: var(--main-color-pink) !important;
}
.color-main-blue {
  color: var(--main-color-blue) !important;
}
.color-main-green {
  color: var(--main-color-green) !important;
}
.color-main-purple {
  color: var(--main-color-purple) !important;
}

.bg-main-yellow {
  background-color: var(--main-color-yellow);
}
.bg-main-pink {
  background-color: var(--main-color-pink);
}
.bg-main-blue {
  background-color: var(--main-color-blue);
}
.bg-main-green {
  background-color: var(--main-color-green);
}
.bg-main-purple {
  background-color: var(--main-color-purple);
}

.bg-main-yellow-transparent {
  background-color: var(--main-color-yellow-transparent);
}
.bg-main-pink-transparent {
  background-color: var(--main-color-pink-transparent);
}
.bg-main-blue-transparent {
  background-color: var(--main-color-blue-transparent);
}
.bg-main-green-transparent {
  background-color: var(--main-color-green-transparent);
}
.bg-main-purple-transparent {
  background-color: var(--main-color-purple-transparent);
}

/* header */

.preview-header {
  background: black;
}

.navbar-brand {
  font-size: 1.3rem;
}
.navbar-nav {
  font-size: 0.9em;
}
.navbar-nav a {
  margin-inline: 5px;
  position: relative;
  transition: all 2s;
}
.navbar-nav a::after {
  content: '';
  left: 0;
  bottom: 0;
  background-color: var(--main-color-blue);
  position: absolute;
  height: 4px;
  width: 0%;
  border-radius: 5px;
  transition: 0.5s;
}

.navbar-nav a:hover:after {
  width: 100%;
}

/* footer */

.content-footer {
  padding-top: 50px;
  padding-bottom: 30px;
  width: 100%;
  background: var(--main-color-purlelight);
}

.sosmed-footer-box-facebook {
  padding: 10px;
  background: #3b5998;
  border-radius: 5px;
}
.sosmed-footer-box-instagram {
  padding: 10px;
  background: #fa478c;
  border-radius: 5px;
}
.sosmed-footer-box-twitter {
  padding: 10px;
  background: #1da1f2;
  border-radius: 5px;
}
.sosmed-footer-box-youtube {
  padding: 10px;
  background: #dd4b39;
  border-radius: 5px;
}
.tentang-paud ul li {
  margin-bottom: 13px;
}
.tentang-paud ul li a {
  text-decoration: none;
  color: white;
}

/* homepage */
/* landing-section */
.landing-section {
  height: 612px;
  background-image: url(../img/v957-nunny-11.jpg);
  background-size: cover;
}

.title-section {
  font-size: 50px;
}

.svg-landing {
  margin-top: -50px;
}

.landing-content {
  padding-top: 100px;
}

.svg-logo-landing {
  width: 420px;
}

/* element section */

.element-card-section {
  background: #bae7ff;
  padding: 100px 50px;
  width: 100%;
}

.circle-logo {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  margin: auto;
  transition: 0.5s;
  line-height: 145px;
}

.circle-logo:hover {
  transform: translateY(-9px);
}

.card-logo {
  border-radius: 15px;
  text-align: center;
  padding: 40px 20px;
  background: #bae7ff;
  transition: all 0.5s;
}

.card-logo:hover {
  cursor: pointer;
  background: #fff;
  transform: translateY(-5px);
}

.card-logo h3 {
  font-size: 1.5rem;
}
.reason-section {
  padding: 100px 0;
  background: #635ef0;
}
.reason-section .reason-box {
  width: 100%;
  padding: 10px 30px;
  background: #fff;
  margin-bottom: 15px;
}
.reason-section .clip-image-reason {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: url('../img/IMG_20220727_KegiatanBelajar10.jpg');
  background-size: cover;
}

.reason-section .clip-image-reason::before {
  position: absolute;
  content: '';
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: var(--main-color-pink);
}

.section-tujuan {
  padding: 100px 0;
}

.section-tujuan .card-fungsi {
  color: white;
  transition: all 0.5s;
}

.section-tujuan .card-fungsi:hover {
  background: var(--main-color-purple-transparent);
  color: #fff;
  transform: translateY(-10px);
}

/* Media Query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* header */
  .preview-header {
    display: none;
  }
  /* Landing Section */
  .svg-logo-landing {
    display: none;
  }

  .svg-landing {
    display: none;
  }

  /* abbout page */
  .paragraf-history img {
    display: none;
  }

  /* contact page  */
  .section-kontak-place {
    padding: 30px;
  }

  /* info-kegiatan */
  .info-pill .box-pill {
    display: none;
  }
  .lottie-info {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* landing section */
  .svg-logo-landing {
    display: none;
  }

  .svg-landing {
    display: none;
  }

  /* contact page */
  .section-kontak-place {
    padding: 30px;
  }

  /* info-kegiatan */
  .info-pill .box-pill {
    display: none;
  }
  .lottie-info {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* landing Section */
  .svg-logo-landing {
    display: block;
    width: 350px;
  }

  /* contact page */
  .section-kontak-place {
    padding: 50px;
  }
  /* info-kegiatan */
  .info-pill .box-pill {
    display: block;
  }
  .lottie-info {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* landing Section */
  .svg-logo-landing {
    display: block;
    width: 420px;
  }
  /* conatact page */
  .section-kontak-place {
    padding: 70px;
  }
  /* info-kegiatan */
  .lottie-info {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* landing Section */
  .svg-logo-landing {
    display: block;
    width: 420px;
  }
  .svg-landing {
    display: block;
  }
  /* conatact page */
  .section-kontak-place {
    padding: 100px;
  }

  /* info-kegiatan */
  .lottie-info {
    display: block;
  }
}

/* About Page */
/* kode dibawah untuk page about */

/* section profil */
.profil-image__cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background: url(../img/developing-things-laying-blue-background.jpg) rgba(98, 98, 98, 0.5);
  background-size: cover;
  background-blend-mode: darken;
}

/* visi misi  */

:root {
  --linear-gradient-color-pink: linear-gradient(#ff236c22, #fff, #fff);
  --linear-gradient-color-yellow: linear-gradient(#f0aa0022, #fff, #fff);
  --linear-gradient-color-blue: linear-gradient(#64c8ff22, #fff, #fff);
  --linear-gradient-color-green: linear-gradient(#a5c34722, #fff, #fff);
  --linear-gradient-color-purle: linear-gradient(#6f1ab722, #fff, #fff);
}

.linear-gradient-color-pink {
  background: var(--linear-gradient-color-pink);
}
.linear-gradient-color-yellow {
  background: var(--linear-gradient-color-yellow);
}
.linear-gradient-color-blue {
  background: var(--linear-gradient-color-blue);
}
.linear-gradient-color-green {
  background: var(--linear-gradient-color-green);
}
.linear-gradient-color-purple {
  background: var(--linear-gradient-color-purle);
}

.line-title {
  margin: auto;
  display: block;
  width: 230px;
  height: 2px;
  background: #ff236c92;
}

.profil-visimisi {
  padding: 90px 0;
}

.card-visimisi {
  height: 396px;
  padding: 50px 38px;
  border-radius: 20px;

  border: solid 1px #ff236c22;
}

.card-visimisi .circle-logo-visimisi {
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  line-height: 120px;
}

.text-history {
  background: var(--main-color-blue-transparent);
}

.shape-path {
  margin: auto;
  height: 100px;
  width: 100px;
  clip-path: polygon(4% 5%, 95% 3%, 99% 68%, 70% 71%, 79% 100%, 48% 73%, 5% 76%);
}

.shape-path .icon {
  margin-top: 20%;
}

.paragraf-history {
  padding: 60px 60px;
  background: #fff;
  border-radius: 30px;
}
.paragraf-history img {
  width: 45%;
  border-radius: 10px;
  float: left;
  margin-right: 15px;
}

/* Page pendaftaran */
/* section pendataran */

.pendaftaran-image__cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background: url(../img/classmates-friends-bag-school-education.jpg) rgba(98, 98, 98, 0.5);
  background-size: cover;
  background-blend-mode: darken;
  background-position: 6px;
}

.paragraph-pendaftaran {
  font-size: 1.2em;
}

.clip-pendaftaran {
  width: 100%;
  border-radius: 50% 50% 0 0;
  height: 400px;
  background: url(../img/rainbow-bg.jpg);
  background-size: cover;
}

.section-data-grafik ul li {
  margin-bottom: 10px;
}
.section-data-grafik ul li span {
  color: var(--main-color-pink);
  font-weight: bolder;
}

/* Page Kontak */
.kontak-image__cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background: url(../img/top-view-chat-bubbles-with-telephone-receiver-copy-space.jpg) rgba(98, 98, 98, 0.5);
  background-size: cover;
  background-blend-mode: darken;
  background-position: 6px;
}

.section-kontak-place {
  position: relative;
  width: 100vw;
  background: url(../img/bg-contact-search.jpg);
  background-size: cover;
  color: white;
}

.map-paud-frame {
  height: 90vh;
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.247);
}

.section-kontak-place .form-search {
  z-index: 9999;
}

.section-kontak-place .input-search-place {
  height: 46px;
  width: 30%;
  border-radius: 6px;
  border: none;
  margin-right: 10px;
}

.contact-info .contact-logo {
  border-radius: 100%;
}

/* page info kegiatan */
.infokegiatan-image__cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background: url(../img/5852.jpg) rgba(98, 98, 98, 0.5);
  background-size: cover;
  background-blend-mode: darken;
  background-position: 6px;
}

.doa-harian li {
  margin-bottom: 15px;
  list-style: none;
  text-indent: -30px;
}

.image-card-activities {
  height: 200px;
}

/*  page fasilitas */
.fasilitas-image__cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background: url(../img/facilities.jpg) rgba(98, 98, 98, 0.5);
  background-size: cover;
  background-blend-mode: darken;
  background-position: 6px;
}

.box-pill-fasilities .box-pill {
  width: 230px;
}

.fasilities-image {
  width: 100%;
  height: 400px;
  border-radius: 20px;
}

/* page Berita */
.berita-image__cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background: url(../img/news.jpg) rgba(98, 98, 98, 0.5);
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
}

.section-berita .card .card-title a {
  text-decoration: none;
  color: #000;
  transition: all 0.4s;
}

.section-berita .card .card-title a:hover {
  color: var(--main-color-pink);
}
